
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz@6..96&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&display=swap');

/* General CSS */
body,
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.topnav {
  background-color: rgb(230, 230, 230);
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  justify-content: space-around;
  box-shadow: -5px -5px 5px 3px;
}

.topnav a {
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
  letter-spacing: 3px;
}
.topnav a:hover {
  text-decoration: underline;
}

.bottom-nav-container {
  background-color: rgb(230, 230, 230);
  left: 0;
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/*large phones*/
@media screen and (max-width: 500px) {
  .bottom-nav-container {
    height: 14%;
  }
}
/*small phone*/
@media screen and (max-width: 319px) {
  .bottom-nav-container {
    height: 16%;
  }
}
/*large phone*/
@media screen and (max-width: 500px) {
  .bottom-nav-container div {
    width: 50px;
    display: flex;
    justify-content: space-between;
  }
}
/*tablet phone*/
@media screen and (min-width: 767px) {
  .bottom-nav-container div {
    width: 70px;
    display: flex;
    justify-content: space-between;
  }
}
/*medium phone*/
@media screen and (max-width: 375px) {
  .bottom-nav-container {
    display: flex;
    flex-direction: column;
  }
  .bottom-nav-container p {
    order: 1;
  }
  .bottom-nav-container div {
    order: 2;
  }
}

.bottom-nav-container a, .bottom-nav-container p {
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  cursor: pointer;
}
/*large phone*/
@media screen and (max-width: 500px) {
  .bottom-nav-container p,
  a {
    font-size: 10px;
    letter-spacing: 0px;
  }
}

.fa {
  text-decoration: none;
  font-size: 30px;
}
/*large phone*/
@media screen and (max-width: 500px) {
  .fa {
    font-size: 20px;
  }
}

/* Home Page */
.home-container {
  display: flex;
  flex-direction: row;
  /* height: 80vh; */
  margin: 15px;
  margin-bottom: 150px;
}
/*large phone*/
@media screen and (max-width: 500px) {
  .home-container {
    flex-direction: column;
    margin-bottom: 50px;
  }
}

.name-container {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-size: 70px;
  margin-left: 15px;
  color: black;
  letter-spacing: 5px;
  text-align: center;
  font-family: 'Bodoni Moda', serif;
}
/*large phone*/
@media screen and (max-width: 500px) {
  .name {
    font-size: 50px;
  }
}

.skill-container {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.home-img-container {
  flex: 1 1 50%;
}

.home-container img {
  width: 100%;
}

.img-quote-container {
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.img-for-quote {
  flex: 1 1 50%;
  margin: 15px;

  
}

.quote-for-img {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px;
  text-indent: 15px;
}

.quote-for-img p:first-of-type {
  font-style: italic;
  font-weight: 600;
}

.img-for-quote img {
  width: 100%;
}

.img-gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 35vw);
  grid-gap: 15px;
  margin: 0px 15px 15px;
}
/*large phone*/
@media screen and (max-width: 500px) {
  .img-gallery-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 95vw);
    grid-gap: 10px;
    margin: 100px 0px 15px 0px;
  }
}

.img-gallery-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* About Page */
.about-container {
  display: flex;
  flex-direction: row;

  margin-left: 20px;
  margin-right: 20px;
}
/*laptop*/
@media screen and (max-width: 800px) {
  .about-container {
    display: flex;
    flex-direction: column;

    margin-left: 5px;
    margin-right: 5px;
  }
}

.about-img-container {
  flex: 1 1 50%;
}

.about-img-container img {
  width: 100%;
  margin-top: 22px;
  margin-bottom: 22px;

}

.about-content {
  margin-bottom: 20px;
  margin-top: 20px;
  flex: 1 1 50%;
}

.about-title {
  color: Black;
  padding-left: 40px;
  font-size: 60px; 
  font-family: 'Bodoni Moda', serif;
  margin: 0 0;
  letter-spacing: 5px;
}
.about-details {
  color: black;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  text-indent: 25px;
  font-size: 14px;
}

/* Contact Page */
.contact-title {
  font-family: 'Bodoni Moda', serif;
  text-align: center;
  font-size: 55px;
}
.contact-container {
  display: flex;
  flex-direction: row;
  margin: 15px;
  /* height: 100vh; */
  margin-bottom: 120px;
}
/*large phone*/
@media screen and (max-width: 767px) {
  .contact-container {
    flex-direction: column;
    /* height: 130vh;   */
  }
}

.contact-img-contianer {
  flex: 1 1 50%;
  margin-top: 10px;
}

.contact-img-contianer img {
  width: 100%;
}

.form-container {
  flex: 1 1 50%;
  margin-top: 10px;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container label {
  color: black; 
  padding-bottom: 10px;
  letter-spacing: 3px;
}

.contact-info {
  padding: 8px;
  max-width: 400px;
  margin: 0 auto;
}

.fullname-box,
.lname-box,
.email-box {
  height: 30px;
  width: 400px;
  border: 1.5px solid black;
  border-radius: 10px;
  font-family: inherit;
  background-color: rgb(247, 247, 247);
}
/*tablet */
@media screen and (max-width: 1000px) {
  .fullname-box,
  .lname-box,
  .email-box {
    height: 25px;
    width: 350px;
  }
}
/*tablet */
@media screen and (max-width: 374px) {
  .fullname-box,
  .lname-box,
  .email-box {
    height: 25px;
    width: 300px;
  }
}

.message-box {
  height: 150px;
  width: 400px;
  font-family: inherit;
  border: 1.5px solid black;
  border-radius: 10px;
  background-color: rgb(247, 247, 247);
}
/*tablet mode*/
@media screen and (max-width: 1000px) {
  .message-box {
    height: 100px;
    width: 350px;
  }
}
/*tablet mode*/
@media screen and (max-width: 374px) {
  .message-box {
    height: 100px;
    width: 300px;
  }
}

.submit-btn {
  height: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  background-color: rgb(240, 240, 240);
  border-style: hidden;
  border-radius: 10px;
  letter-spacing: 1px;
  font-family: inherit;
  cursor: pointer;

}
